error-handling-poc/src/main/mule/on-error-continue-cases/single-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="oec-single-flow" doc:id="24202aef-40f6-4c0e-97f0-f3fa63cf9f66" >
		<http:listener doc:name="oec/single" doc:id="fb8d62d5-1f77-480f-936d-9bc65a18acdb" config-ref="HTTP_Listener_config" path="oec/single"/>
		<set-payload value="Success - Flow Started" doc:name="FV SET Success - Flow Started" doc:id="907b4c4d-e354-41f2-a6fe-edddc97e3735" />
		<validation:is-number numberType="DOUBLE" doc:id="6491fe37-723d-42e2-bb44-b09e4e028c1b" value="#[payload]"/>
		<set-payload value="Success - End of Flow" doc:name="FV SET Success - End of Flow" doc:id="a2bc727b-50c2-4d70-8aaa-6380feb85a61" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="18be3ae5-58f3-4d35-ab50-e7bd78fa3d0d">
				<set-payload value="Error - Error Handler (oec)" doc:name="FV SET Error - Error Handler (oec)" doc:id="cd7cadd1-00be-4979-a1fc-64fab6875682" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
